
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for item in list_of_melon_types %}
        <tr>
            <td>{{ item }}</td>
            <td>QUANTITY</td>
            <td>PRICE PER MELON</td>
            <td>PRICE BY TYPE</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{ total_order_cost }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
